<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BJG - Availability</title>

    <!-- External CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/bj.css">
</head>

<body>
    <div id="nav-placeholder"></div>

    <div class="container">
        <div class="title-container">
            <h3><span id="year"></span> Availability</h3>
        </div>
	
	<script>
    document.getElementById("year").innerHTML = new Date().getFullYear();
    </script>
	
    <!-- Main Content -->
    <main>
        <div id="calendar-container" class="calendar-wrapper"></div>

        <!-- Loading Spinner -->
        <div class="loading-container">
            <div class="spinner-border" role="status" id="loading">
                <span class="sr-only"></span>
            </div>
        </div>

        <!-- Game Log Table -->
        <div class="table-container">
            <table class="availability-calendar" id="availability">
            </table>
        </div>

        <div class="button-container">
            <button id="save-availability" class="save-button">Save Availability</button>
        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../static/include-nav.js"></script>
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.1066.0.min.js"></script>
    
    <script type="module" src="/static/commonscripts.js"></script>
    <script type="module" src="/static/availabilitynew.js"></script>
</body>
</html>